.card{
    border: 2px solid;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.foto{
    height: 100px;
    width: 100px;
    object-fit: contain;
    display: block;
    margin: 10px;
}

.botones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(118, 18, 18);
    margin: 0 15px 5px 15px;
}